<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <style type="text/css">
    body {
      border-radius: 25px;
      text-align: center;
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVmAbXTwe7dCvUm7LyTCpXsYDT4bdJzOZoZA&usqp=CAU');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family:"Arabic Typesetting", serif;
      font-size:20pt
    }
  </style>
  <title>What is  IdeasHub?</title>
</head>
<body >
    <h1> ! سلام</h1>
    <h2> چرا این سایت ساخته شد؟  </h2>
    <p>  حتما برای شما هم پیش اومده که طرحی تو ذهنتون داشتید که عملی شدن اون میتونست دنیا رو تحت تاثیر قرار بده ، عوضش کنه یا اونو به جای بهتری تبدیل کنه . اما این اتفاق نیفتاده چون در لحطه تواناییشو نداشتید یا فرد مطمئنی رو نمیشناختید که بتونه اونو اجرا کنه یا اصلا از پتانسیل احتمالی ایده تون آگاهی ایی نداشتید . بر فرض هم که میخواستید ایده تونو به اشتراک بذارید ، اون رو با جامعه دوستان و افراد نزدیکتون در میون گذاشتین ، که اینکار معمولا  ضررش بیشتر از سودشه ، چون خیلی باید خوش شانس بوده باشید که این افراد هم دغدغه شما رو داشته باشن  و بخوان به یه طریقی حمایتتون کنن .در نتیجه اگه شما ادمی با روحیات خاصی نباشید ممکنه دلسرد شید و یا واگذارش کنید به اینده  که این(به مرور)باعث میشه که شما علاوه بر فراموشی ایده تون، ایده پرداز بودن رو هم فراموش کنید  و نسبت به محیط اطرافتون بی تفاوت بشید مخالفید؟ به بچه ها نگاه کنید ، اونا حتی با اینکه دانش فنی کمتری هم دارن ولی بیشتر از تخیلشون برای دلخواه کردن دنیاشون استفاده میکنن </p>
    <h2> این سایت قراره چیکار کنه؟ </h2>
    <p>اولا واضحه که نسخه فعلی فقط قراره یه نمای ساده رو بهتون نشون بده . تو حالت پیشرفته تر هدف اینه محیطی سالم به وجود بیاد که گروه های مختلف روو بهم وصل کنه ، مثلا اگه شما ایده فیلمی دارید  اما دانش یا علافه فیلمنامه نوشتن رو ندارید ، کسی رو پیدا میکنید که توانایی فیلمنامه نوشتن رو داره و میتونه کمکتون کنه ، اینطوری شما با همکاری با کسی که نمیشناسیدش و احتمالا کیلومتر ها باهاش فاصله دارید متن یه فیلم رو اماده کردید ، متنی که تو حالت عادی یا هیچ وقت نوشته نمیشد یا زمان خیلی زیادی میبرد.خب، تو همین مثال خاص شما با همکاری با افراد توانا ایده تونو عملی کردید و و الان از طریف شبکه میتونید اونو به کسی که میخواد فیلم بسازه و دنبال ایده ست عرضه کنید</p>
    <h2>چطوری اینکارو میکنه؟</h2>
    <p>تو مرحله اول این شبکه به مردم نیاز داره که ایده هاشونو به اشتراک بذارن ، بعد ازون وظیفه شبکه فیلتر کردن ایده هاست ، که علاوه بر اینکه تو شاخه های مرتبط قرار بگیرن ،بشه اونارو بر اساس عملی بودن ، خلاقانه بودن و جدید بودن ، مهم بودن و ...طبقه بندی کرد . مثلا اگه ایده شما حل یه مساله فیزیک از یه زاویه جدیده و به نود درصد ایده تون فکر کردید و الان دنبال یه متخصصین که تاییدتون کنه و اون ایده به یک راه حل نهایی تبدیل شه ، زمان زیادی رو منتظر نمونین و ایده تون زودتر از ایده های دیگه تو رشته فیزیک دیده شه  </p>
    <p>درواقع هرکس میدونه که دنبال چی و کجا بگرده و همینطور متوجه ارزش ایده ش هم میشه(با این فرض که برای ثبت نظر تو هر رشته ای متخصصینی اگاه به اون رشته باشن که ارزش اون ایده رو درک کنن  و بتونن فاکتور های مختلفی که بالا گفته شد رو اندازه بگیرن)</p>
    <h2>نقص های  طرح فعلی ؟ </h2>
    <p> خود این ایده هم هنوز مشکلات زیاده داره و زوایای مختلفش بررسی نشده ، در واقع نیازمند متخصصه که ارزش گذاریش کنه و به عملی شدن نزدیکش کنه(!) . یکی از بزرگترین مشکلای فعلی مساله دزدی ایده ست ، چون هرکسی میتونه خیلی راحت به ایده ای که توش تخصص داره دسترسی پیدا کنه و اونو زودتر اجرا کنه . تنها راه حل ایده آل و البته فرضی برای حل این مشکل اینه که این شبکه بتونه گواهی هایی مشابه با گواهی ثبت اختراع بده ، به این شکل که اگه ایده شما ثبت و ارزش گذاری شد ، اون ایده به صورت قانونی  متعلق به شما باشه و هرگونه استفازه ازش نیازمند به اجازه شما باشه و اگه کسی هم با شما همکاری کنه (در صورتی که این همکاری تایید شه) شریک شما به حساب بیاد، که برای وجود چنین گواهی ایی نیاز به همکاری موسسه های مختلف و البته کاربر هاست </p>
    <a href="/" class="previous">&#8249;</a>
</body>
</html>
<style>
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px;
  }
  
  .previous {
    border-radius: 20%;
    background-color: #f1f1f1;
    color: black;
  }

 
  </style>
  </head>
  </html> 
  